html {
  font-size: 100px;
}

body {
  font-size: 0.12rem;
  background-color: #ededed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

*::-webkit-scrollbar {
  display: none;
}

input {
  background: none;
  outline: none;
  border: none;
}
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

.user__avatar {
  width: 0.32rem;
  height: 0.32rem;
  border-radius: 50%;
}
